{% extends "layout.html" %}

{% block title %}
DJTALK
{% endblock %}

{% block content %}
<div class="container text-center mt-4">
    <h1 class="text-danger">Are You Sure You Want to Delete This Tweet?</h1>
    <p class="lead">This action cannot be undone. Please confirm your choice.</p>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <button class="btn btn-danger btn-lg me-2">Delete</button>
        <a class="btn btn-success btn-lg" href="{% url 'tweet_list' %}">Cancel</a>
    </form>
</div>
{% endblock %}
